
<section class="hero is-medium is-black is-bold">
  <div class="hero-body">
    <div class="container">
        {{#if @site.description}}
      <h1 class="title">
       {{@site.description}}
      </h1>
      {{/if}}
      {{!-- <h2 class="subtitle">
        Primary bold subtitle
      </h2> --}}
    </div>
  </div>
</section>